@media screen and (max-width: 900px) {
    body {
        font-size: 90%;
        box-shadow: none !important;
    }
}

@media screen and (max-width: 767px) {
    #navbar {
        display: none;
    }

    .slicknav.menu {
        background: #C1C7C9;
        padding: 3px !important;
    }

    #mobile_menu {
        display: block !important;
    }
}

@media screen and (max-width: 479px) {
    header h1, header h2, header h3, section {
        font-size: small;
    }
}
body {
	font-family: Helvetica, sans-serif;
    color: #2B2B2B;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    border: 3px solid #DADEDF;
    
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:focus{
   
}


#logo{

	width: 250px;
    margin: 0 auto;
    background-color: #F2F3F4;
}
#apple {
	width: 80%;
    height: 150px;
    text-align: center;
    

}

#mainhead{
	font-size: 200%;
	font-style: bold;
	color: #0f0f0f;
	margin: 0;
	line-height: 0;
	text-align: center;
	padding-bottom: 5%;
	margin-bottom: .3em;
}

	
}


#wrapper{
	display:flex;
	flex-wrap: wrap;

}

#profile{
 float: right;
 max-width:5%;  
  max-height: 5%;
  padding-left: 2%;


}
#inbox{
	float: center;
	max-width:5%;  
  max-height: 5%;
 
  
}
 #search {

padding-bottom: 0%;
  float: right;
  font-size: 17px;
  max-width:20%;  
  max-height: 10%;


 }
header {

	background-color: #F2F3F4;
	padding: 5em 2%; 
padding-bottom: 5%;
border-bottom: 2px solid #c1c7c9; 
}



#mobile_menu {
    display: none;
}
#navbar {
    clear: left;
    border-bottom: 2px solid grey;
    box-shadow: 0px 0px 3px black;
    
}
#navbar ul {
	list-style: none;
	position: relative;
}
#navbar ul li {
	width:20%;
    float: right;
    padding-right: 0%;
}
#navbar ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#navbar ul ul li {
	width: 100%;
    float: none;
}
#navbar ul li:hover > ul {
	width:20%;
    display: block;

}
#navbar> ul::after {
	content: "";
	clear: both;
	display: block;
}
#navbar ul {
	margin: 0;
	padding: 0;
}
#navbar ul li a {
	text-align: center;
	display: block;
	 background color: #DADEDF;
	padding: .7em ;
    font-weight: bold;
	color: #2B2B2B;
}
#navbar ul li a.current {
	color: #6f7c80;
	

}
#navbar ul li a:hover, #navbar ul li a:focus {
	background-color: #E4C0D0;
}

#carousel {
overflow: hidden;
padding-top: 30%;

}

#carousel figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	padding-bottom: 1%;
	animation: 20s carousel infinite; 
}

#carousel figure img{
	width: 20%;
	height: 0%;
	float: left;
	display: flex;
}

@keyframes carousel{
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
#clockdiv {

padding-top: 5%;
text-align: center;
font-size: 150%;
font-family: Helvetica, sans-serif;
font-style: bold;

}

#time{
 padding-bottom: 1.5%;
}

#RecentTH{

	padding-bottom: 10%;

}



#TitleT {
	text-align: center;

	padding-top: 5%;
	font-size: 150%;
}

hr{
	display:flex;
	width:21em;
}

 .row {
  display: flex;
  flex-wrap: wrap;
  float: center;
  padding-left: 10%;
  padding-bottom: 20%;
  font-size: 120%;
}
.homepageTX{
	padding-top: 3%;
	padding-bottom: 10%;
	margin:20px;
	width:75%; 
    word-wrap:break-word;
}
.row img{
	border: .25em solid #E4C0D0;
	box-shadow: 0px 0px 10px #E4C0D0;
	display:flex;
	flex-wrap: wrap;

}
.column {
  flex: 33.33%;
  padding: 7px, 7px, 7px, 7px;
   width: 80%;
}

.row h3 p{
padding-top: 10%;
font-size: 180%;
padding-bottom: 10%;

}
.column2{
flex: 33.33%;
  padding-left: 25%;
   width: 80%;



}

.ad{

padding-left: 30%;
padding-right: 15%;
padding-bottom: 5%;
width: 85%;
}

#foot{
	background-color: #DADEDF;
	 
	 padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 5px black;
    height: 78px;
    color: #9B9B9B;

}

footer { 
	background color: #DADEDF;
	padding: .5em 2.93%;
	display: inline-flex;
 } 

#footerT{
	display:inline;
    line-height: 70px;
    color: black;  
    
}

footer img {
	
	height:70px;
    width: 70px;
    float:left;

}




















